<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VR-зоны | FunLand</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>🎮 VR-зоны</h2>
        <p>Игры в шлемах HTC Vive и Oculus.</p>
        <ul>
            <li>Шутеры</li>
            <li>Гонки</li>
            <li>Пазлы</li>
            <li>Кооперативные приключения</li>
        </ul>
        <p>Можно играть вдвоём!</p>
        <a href="/" class="btn-back">Назад</a>
    </div>
</body>
</html>